:root {
  --background: #edf0f5;
  --accent: #1977F2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
  font-size: 16px;
}
body {
  background: var(--background);
}

h1 {
  font-weight: 800;
  color: var(--accent);
}
button {
  border: none;
  outline: none;
  background: var(--accent);
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem 4rem;
  border-radius: 5px;
  cursor: pointer;
}
.link {
  text-decoration: none;
  cursor: pointer;
}